SECRET_KEY = 'INSECURE'

DEBUG = 1

LOCAL_RUN = 1

ALLOWED_HOSTS = 'localhost'

CSRF_TRUSTED_ORIGINS = 'https://localhost'

CORS_ALLOWED_ORIGINS = 'https://localhost'

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

EMAIL_HOST = 'smtp.gmail.com'

EMAIL_PORT = 587

EMAIL_USE_TLS = True

EMAIL_HOST_USER = 'your_email@gmail.com'

EMAIL_HOST_PASSWORD = 'your_email_password'

DEFAULT_FROM_EMAIL = 'Your Name <your_email@gmail.com>'

EMAIL_LOGO_URL = 'logo_url/logo.png'

SECRET_KEY_JWT = 'INSECURE'
