{% extends 'global/base.html' %}
{% load i18n %}
{% block title %}{% translate 'Dashboard' %}{% endblock title %}

{% block content %}
    <div class="main-content dashboard center container article">
        {% include 'global/partials/messages.html' %}
        <div class="dashboard-tag center">
            <h2>{% translate 'Dashboard' %}</h2>
            <div class="appointment-list">
                {% if appointments %}
                    <h4>{% translate 'Your Appointments' %}</h4>
                    <ul>
                        {% for appointment in appointments %}
                            <li>
                                {{ appointment }} - {{ appointment.procedure }} - {{ appointment.date }} {{ appointment.time }} - 
                                <form class="inline-form form-delete" action="{% url 'users:appointment_delete' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ appointment.id }}">
                                    <button class="delete-button" type="submit">❌</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{% translate 'You have no appointments scheduled' %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}