{% extends 'global/base.html' %}
{% load i18n %}
{% block title %}{% translate 'Register' %}{% endblock title %}

{% block content %}
    <div class="main-content center container article">
        <h2 class="register-page">{% translate 'Register' %}</h2>
        {% include 'global/partials/messages.html' %}
        {% if not user.is_authenticated %}
            <div class="register-form-wrapper">
                {% include 'global/partials/form.html' %}
            </div>
        {% endif %}
    </div>
{% endblock content %}