{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ html_language }}">

<head>   
    {% include 'global/partials/head.html' %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="body-container">
        {% include 'global/partials/header.html' %}
        <main class="main-content-container">
            {% block content %}{% endblock %}
        </main>
        {% include 'global/partials/footer.html' %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% get_static_prefix %}global/js/scripts.js"></script>
        <script>
            var clearSessionUrl = "{% url 'users:clear' %}";
            var csrfToken = "{{ csrf_token }}";
        </script>
    </div>
</body>

</html>