{% load i18n %}
{% load static %}
<header class="main-header-container">
    <div class="main-header container">
        <div class="logo-container">
            <a class="main-logo" href="{% url 'base:home' %}">
                <img src="{% get_static_prefix %}global/img/od.png" alt="Logo" width="50%">
            </a>
        </div>
        <div class="header-buttons">
            <button class="plaintext-button services">
                <a href="{% url 'base:services' %}">{% translate "Services" %}</a>
            </button>
            <button class="plaintext-button schedule">
                <a href="{% url 'schedule:schedule' %}">{% translate "Schedule" %}</a>
            </button>
            <button class="plaintext-button about">
                <a href="{% url 'base:about' %}">{% translate "About" %}</a>
            </button>
            {% if user.is_authenticated %}
                <button class="plaintext-button dashboard">
                    <a href="{% url 'users:dashboard' %}">{% translate "Dashboard" %}</a>
                </button>
                <form action="{% url 'users:logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ request.user.username }}">
                    <button class="plaintext-button logout" type="submit">
                        {% translate 'Logout' %}
                    </button>
                </form>
            {% else %}
                <button class="plaintext-button register">
                    <a href="{% url 'users:register' %}">{% translate "Register" %}</a>
                </button>
                <button class="plaintext-button login">
                    <a href="{% url 'users:login' %}">{% translate "Login" %}</a>
                </button>
            {% endif %}
        </div>
    </div>
</header>