:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
    --color-purple: #250b38;
    --color-purple-alpha: #250b38D5;
    
    --color-blue-bg: #e3f7fa;

    --color-blue-alpha: #379BBB85;
    --color-blue: #379BBB;

    --color-white: #fff;
    --color-black: #000;
    
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
    
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
    
    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
    
    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
    
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5%;
        height: 100%;
    }
    
    a {
        color: var(--color-primary);
        text-decoration: none;
    }
    
    form {
        display: inline-block;
    }

    body {
        min-height: 100%;
        display: flex; 
        flex-direction: column;
        font-size: 1.6rem;
        font-family: var(--font-primary);
        background: var(--color-gray-1);
        color: var(--color-dark-text);
        transition: background-color .4s ease-in-out;
    }

    table {
        width: 70%;
        border-collapse: collapse;
        border-spacing: 0px 50px;
    }
    
    th, td {
        font-family: var(--font-headings);
        padding: 8px;
        text-align: center;
        border-bottom: 2rem solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-headings);
    }
    
    img {
        max-width: 100%;
        transition: filter 1s ease-in-out;
    }
    
    article{ 
        flex: 1; 
    }
    
    .body-container {
        position: relative;
        min-height: 100vh;
    }

    .content {
        flex: 1;
    }

    .container {
        max-width: 144rem;
        width: 100%;
        margin: 0 auto;
        padding: var(--spacing-gutter-medium);
    }

    .left {
        align-items: left;
        justify-content: left;
    }

    .right {
        align-items: right;
        justify-content: right;
    }

    .center {
        text-align: center;
    }
    
    .main-header {
        display: flex;
        justify-content: space-between;
    }

    .main-header-container {
        background: var(--color-blue-alpha);
        height: 8rem;
        display: flex;
        align-items: center;
        width: 100%;
        transition: background-color .5s ease-in-out;
        border-radius: 0 0 25% 25%;
    }
    
    .main-header-container:hover {
        background-color: var(--color-blue);
    }

    .header-link {
        margin-left: auto;
    }
    
    .main-logo {
        font-size: 4rem;
        color: var(--color-white);
        text-decoration: none;
    }
    
    .header-link button
    {
        font-size: 2rem;
        font-weight: bold;
        justify-content: flex-end;
        padding: 1rem 2rem;
        border: none;
        background: var(--color-white);
        color: var(--color-primary-dark);
        cursor: pointer;
    }

    .main-logo-text {
        text-align: left;
        display: flex; 
        align-items: center;
        justify-content: flex-start;
    }

    .main-logo-icon {
        margin-right: 2rem;
    }

    .logo-container {
        display: inline-block;
        justify-content: flex-start;
        align-items: center;
    }
    
    
    .plaintext-button {
        display: inline;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 2rem;
        text-decoration: none;
        color: var(--color-white);
        transition: all 300ms ease-in-out;
        margin: 0 1.5rem;
    }    

    .plaintext-button:hover {
        filter: brightness(.6);
    }
    
    .plaintext-button a {
        color: var(--color-white);
    }

    .delete-button {
        display: inline;
        border: none;
        background: none;
        cursor: pointer;
        color: var(--color-primary);
        font-size: 1.6rem;
    }
    

    .text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .about-text h2,
    .about-text h3 {
        margin-bottom: 40px;
    }

    .text-wrapper table {
        align-items: center;
        justify-content: center;
    }

    .text-wrapper button,
    .text-wrapper a
    {
        padding: 1rem 2rem;
        margin-top: .5rem;
        border: none;
        background: var(--color-primary-dark);
        color: var(--color-white);
        cursor: pointer;
    }

    .main-content {
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    
    .main-content-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
        gap: var(--spacing-gutter-large);
    }

    .results-container {
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    .text-wrapper h2 {
        margin-top: 1rem;
        margin-bottom: .5rem;
        text-align: center;
    }
    
    .text-wrapper span {
        text-align: left;
        align-self: left;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .main-footer {
        height: 1.5rem;
        /* position: absolute; */
        width: 100%;
        display: flex;
        align-items: center;
        bottom: 0;
        justify-content: space-between;
        background: var(--color-blue-alpha);
        color: var(--color-white);
        padding: var(--spacing-gutter-large);
        transition: background-color .5s ease-in-out;
        border-radius: 25% 25% 0 0;
    }
    
    .main-footer:hover {
        background-color: var(--color-blue);
    }

    .page-container {
        flex: 1;
    }
    
    .main-footer a {
        color: var(--color-white);
        text-decoration: none;
        transition: all 300ms ease-in-out;
    }
    
    .main-footer a:hover {
        filter: brightness(.8);
    }
    
    .image-container {
        position: relative;
    }

    .image-text {
        position: absolute;
        transition: opacity 0.5s;
        color: black;
        left: 36%;
        top: 35%;
        font-size: 70px;
        font-weight: 900;
        text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
        animation: blink-and-move-up 5s;
    }

    .flex-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }


    /* FORMS */
    .form-content {
        max-width: 64rem;
        margin: 0 auto;
        margin-bottom: var(--spacing-gutter-medium);
        display: flex;
    }

    .form-content label,
    .form-content .help-test
    .errorlist
    {
        display: block;
        margin: .5rem 0;
        font-size: 1.4rem;
        list-style-type: none;
    }

    .errorlist {
        color: var(--color-error-dark)
    }

    .form-content input,
    .form-content textarea,
    .form-content select {
        width: 100%;
        padding: 1rem;
        border-radius: .4rem;
        border: 1px solid var(--color-primary-dark);
    }

    .form-content-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: var(--spacing-gutter-medium);
    }

    .form-content button
    {
        padding: 1rem 2rem;
        border: none;
        background: var(--color-primary-dark);
        color: var(--color-white);
        cursor: pointer;
        margin-bottom: 2rem;
    }


    /* Messages */
    .messages-container {
        display: flex;
        flex-flow: column nowrap;
        gap: calc(var(--spacing-gutter-medium)/2);
    }

    .message {
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid var(--color-dark-text);
        background: var(--color-gray-2);
        color: var(--color-dark-text);
    }
    
    .message-error {
        border: 1px solid var(--color-error-dark);
        background: var(--color-error-light);
        color: var(--color-error-dark);
    }
    
    .message-success {
        border: 1px solid var(--color-success-dark);
        background: var(--color-success-light);
        color: var(--color-success-dark);
    }
    
    .message-warning {
        border: 1px solid var(--color-warning-dark);
        background: var(--color-warning-light);
        color: var(--color-warning-dark);
    }
    
    .message-alert {
        border: 1px solid var(--color-alert-dark);
        background: var(--color-alert-light);
        color: var(--color-alert-dark);
    }
    
    .message-info {
        border: 1px solid var(--color-info-dark);
        background: var(--color-info-light);
        color: var(--color-info-dark);
    }
    
    .message-debug {
        border: 1px solid var(--color-debug-dark);
        background: var(--color-debug-light);
        color: var(--color-debug-dark);
    }

    .header-buttons {
        display: flex;
        align-items: center;
    }

    .user-dashboard-container {
        max-width: 64rem;
        padding: var(--spacing-gutter-medium);
        text-align: left;
        margin: 0 auto;
      }
    
    .user-dashboard-container h3,
    .user-dashboard-container p,
    .user-dashboard-container ul {
    margin: 1rem 1rem;
    text-align: left;
    }

    .dashboard-tag {
    text-align: center;
    margin-top: 2rem;
    }

    .dashboard-tag h3 {
    text-align: center;
    }

    .dashboard {
    display: flex;
    justify-content: center;
    text-align: center;
    }

    .appointment-list {
    text-align: left;
    margin: 2rem;
    }

    .appointment-list li {
    margin-bottom: 1rem;
    }
      
    .appointment-list h4 {
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
    }

    .inline-form {
        display: inline;
    }

    .about-text ul {
        list-style: none;
        text-align: center;
    }
      
    .about-text li {
        display: inline-block;
    }

    .about-text h1 {
        margin: 2rem 2rem;
    }
    
    .about-text h3 {
        margin: 2rem 25rem;
    }
    
    .table-wrapper {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .dashboard table {
        width: 100%;
    }

    .home-container {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }

    .home-container span {
        font-size: 5rem;
        font-family: var(--font-headings);
        line-height: 1.8;
        margin-right: 1rem;
        text-align: center;
        display: inline-block;
        padding: 1rem;
        background-color: #00ffff15;
        border: 2px solid #ddd;
        border-radius: 15%;
        transition: transform 0.6s ease-in-out;
    }

    .home-container span:hover {
        transform: scale(1.05);
        transition-delay: 0s;
    }

    .home-container img {
        border-radius: 15%;
        transition: transform 0.6s ease-in-out;
        margin-left: 2rem;
        object-fit: contain;
    }
    
    .home-container img:hover {
        transform: scale(1.05);
        transition-delay: 0s;
    }

    .home-container a {
        text-decoration: none;
        font-size: 2.5rem;
        background: none;
        color: var(--color-blue);
        font-family: var(--font-headings);
        text-align: center;
    }

    .schedule-container {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        width: 100%;
    }

    .schedule-container img {
        border-radius: 15%;
        transition: transform 0.6s ease-in-out;
        margin-left: 2rem;
        object-fit: contain;
    }
    
    .schedule-container img:hover {
        transform: scale(1.05);
        transition-delay: 0s;
    }

    .schedule-container h2 {
        font-size: 3rem;
        font-family: var(--font-headings);
        margin-right: 1rem;
        margin-bottom: 3rem;
        text-align: center;
        display: inline-block;
        padding: 1rem;
        background-color: #00ffff15;
        border: 2px solid #ddd;
        border-radius: 30%;
        transition: transform 0.6s ease-in-out;
    }

    .schedule-container h2:hover {
        transform: scale(1.05);
        transition-delay: 0s;
    }

    .schedule-container a {
        text-decoration: none;
        font-size: 2.5rem;
        background: none;
        color: var(--color-blue);
        font-family: var(--font-headings);
        text-align: center;
    }

    .schedule-container h4 {
        font-family: var(--font-headings);
        margin-right: 1rem;
        text-align: center;
        display: inline-block;
        padding: 1rem;
        background-color: var(--color-info-light);
        border: 2px solid #ddd;
        border-width: .2rem;
        border-color: var(--color-blue);
        border-radius: 15%;
        transition: transform 0.6s ease-in-out;
    }

    .services-container {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }

    .services-container img {
        border-radius: 15%;
        transition: transform 0.6s ease-in-out;
        margin-left: 2rem;
        object-fit: contain;
    }

    .services-container img:hover {
        transform: scale(1.05);
        transition-delay: 0s;
    }

    .services-container h2 {
        font-size: 3rem;
        font-family: var(--font-headings);
        margin-right: 1rem;
        margin-bottom: 3rem;
        text-align: center;
        display: inline-block;
        padding: 1rem;
        background-color: #00ffff15;
        border: 2px solid #ddd;
        border-radius: 30%;
        transition: transform 0.6s ease-in-out;
    }

    .services-container h2:hover {
        transform: scale(1.05);
        transition-delay: 0s;
    }
    .services-container table {
        align-items: center;
    }  
